section{
    
  text-align: center;
}
section h1{
  margin-top: 10px;
  color: rgba( 0, 0, 0.5);
  font-size: 40px;
  margin-top: 5px;
  color: rgb(88, 88, 126);
}

.title_registro{
  padding-top: 5px;
  font-size: 40px;
  text-align: center;

}
.registrarse-box{
  padding-top: 50px;

}

.form-registro > .inpt-regis{
  text-align: left;
  border-width: 1px;
  border-color: dodgerblue;
  
}
.inpt-registrarse-button{
  color:white;
  font-size: 15px;
  padding: 15px;
  min-width: 80px;
  border-radius: 2px;
  display: inline-block;
  /* font-size: 20px; */
  border-radius: 5px;
  background-color: #0d6efd;
  display:block;
  margin:auto;
  margin-bottom: 60px;
  margin-top: 9px;
}

.form-group {
  border-radius: 15px;
  background-color: whitesmoke;
  display: inline-block;
  color: rgba( 0, 0, 0.5);
  
  width: 400px;
  height: 750px;
  max-width: 650px;
  margin: 0 auto;
 
  flex-direction: column;
  justify-content: left;
  
  align-items: left;
  padding-top: 24px;

}

/* estilos inputs*/
form input {
  text-align: left;
  background-color: whitesmoke;
  display: inline-block;
  
  margin-top: 25px;
  width: 240px;

  margin-bottom: 10px;
 /* ancho del input*/
  height: 35px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  color: black;
  
}

.registrar-icon{
  margin:auto;
  border-radius: 50%;
  border: 1px solid black;
  
}

.form-group input:active, .form-group input:focus{
  outline: none;
  
}
