body{
  font-family: 'Titillium Web', sans-serif;
}
h1{
  font-size: 55px; font-weight: 600; line-height: 70px; color: #90B3EF;
}
h2{
  font-size: :44px; margin-bottom: 30px;
}
.footer-widht{
  position: absolute;
  background-color: black

}

section{
  padding: 120px 0;
}
.topmargin-lg{
  margin-top: 60px;
}
.topmargin-sm{
  margin-top: 30px;
}
.topmargin-xs{
  margin-top: 15px;
}
.navbar{
  background: white;
  box-shadow: 0 2px 4px 0 rgba( 0, 0, 0.5);
  min-height: 100px;
}
#hero p {
  color: white;
}
.nav-link{
  color: black;
}
.nav-link:hover{
  color: #265ABC;
}
.logo-brand{
  min-width: 80px;
  max-width: 80px;
}
#hero{
  background: url('../assets/images/hero.jpg') no-repeat;
  background-color: rgb(100,100,100);
  background-blend-mode: soft-light;
  background-size: cover;
  padding-top: 90px;
  min-height: 500px;
  color white;
}

.btn{
  font-size: 14px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}
.btn-light{
  background-color: white;
  color: black;
  border: 2px solid white;

}
.content-center{
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}
